apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: sonarqube
  namespace: sonarqube
spec:
  interval: 60m
  chart:
    spec:
      chart: sonarqube
      version: "10.6.1+3163"
      sourceRef:
        kind: HelmRepository
        name: sonarqube
        namespace: flux-system
      interval: 12h
  values:
    plugins:
      install:
        - "https://github.com/vaulttec/sonar-auth-oidc/releases/download/v2.1.1/sonar-auth-oidc-plugin-2.1.1.jar"
    image:
      repository: git.ozeliurs.com/ozeliurs/sonarqube
      tag: 10.6.0-enterprise

    ingress:
      ingressClassName: traefik
      enabled: true
      hosts:
        - name: sonarqube.devops-tools.apoorva64.com
          path: "/"
      tls:
        - hosts:
            - sonarqube.devops-tools.apoorva64.com
          secretName: sonarqube-tls
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
    postgresql:
      enabled: false
    jdbcOverwrite:
      enable: true
      jdbcUrl: jdbc:postgresql://sonarqube-database-postgresql:5432/sonarqube
      jdbcUsername: sonarqube
      jdbcSecretName: sonarqube-database-password
      jdbcSecretPasswordKey: password