apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: argo-cd
  namespace: argocd
spec:
  interval: 60m
  chart:
    spec:
      chart: argo-cd
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: argo-helm
        namespace: flux-system
      interval: 12h
  values:
    global:
      domain: argocd.devops-tools.apoorva64.com
    configs:
      params:
        server.insecure: true
      cm:
        oidc.config: |
          name: Keycloak
          issuer: https://keycloak.auth.apoorva64.com/realms/lab
          clientID: argocd
          enablePKCEAuthentication: true
          requestedScopes: ["openid", "profile", "email", "groups"]
    server:
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
        tls: true
